:root {
  --default-padding : 20%;
}

body {
  background-color:#2f2e2e;
}

.footer {
  color: #e6bf00;
  text-align: center;
  padding: 0.3125%;
}

.title {
  width: calc(0.41 * var(--default-padding) + 205.8px);
}

* > .container {
  width:64.5%;
  padding: var(--default-padding) ;
  background-color: #232323;
  padding-top: calc(var(--default-padding) / 4);
  padding-bottom: calc(var(--default-padding) / 4);
  -webkit-animation: fadein 1s;
   -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
     -o-animation: fadein 1s;
        animation: fadein 1s;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.question {
  margin:auto;
  vertical-align:middle;
  flex:50;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to {opacity: 0;}
}

.row {
  display:flex;
}

.column {
  flex:50;
  display:flex;
}

.index {
  padding: calc(var(--default-padding) / 1.5) !important;
  padding-top, padding-bottom: var(--default-padding);
  font-size: 30px;
  font-family: 'Heebo';
}

.left {
  margin-right: calc(var(--default-padding) / 2)
}

.about {
  text-align: center;
  font-family: 'Heebo';
  padding-left: calc(var(--default-padding)/2);
  padding-right: calc(var(--default-padding)/2);
}

.faq {
  text-align: center;
  padding: calc(var(--default-padding) / 2);
  padding-top: calc(var(--default-padding) / 8);
  font-family: 'Quicksand';
}

.outages {
  padding: calc(var(--default-padding) / 4) !important;
}

nav {
  padding-left: var(--default-padding) !important;
  padding-right: var(--default-padding) !important;
  font-family: 'Arvo', serif;
}

.active {
  font-weight: bold;
}

p {
  color: white;
}

h1 {
  font-size:3em;
}

h1, h2, h3, h4, h5, h6 {
  margin:auto;
  vertical-align:middle;
  color: #e6bf00 !important;
  font-weight:bold;
}
